openpyxl==3.1.2
requests==2.31.0

numpy==1.25.2
pandas==2.1.0
scikit-learn==1.3.0

torch==2.0.1
lightning==2.0.6

matplotlib==3.7.2

jupyterlab==4.0.5
ipywidgets==8.1.0

seaborn==0.12.2
omegaconf==2.3.0

psycopg2-binary==2.9.7

prefect==2.14.21
prefect-shell==0.2.2
asyncpg==0.28.0

ray==2.9.2
mlflow==2.10.2
python-ulid==2.5.0

h5py==3.11.0
griffe==0.48.0